PORT=3000
MONGO_URI=mongodb+srv://amanshishodia863_db_user:Aman291118@linearcluster.b44rsrj.mongodb.net/?appName=LinearCluster
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173
